*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container{
  display: flex;
  flex-direction: column;
}

.header{
  background-color:  #5b7989;
  padding: 20px;


  display:flex;
  justify-content: space-between;
}

.titulo{
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 30px;
  background-color: pink;
  width: 30%;
}

.imagen1{
  background-color: #82c3a6;
}

.otrasimg{
  background-color:  #d5c75f;
}

.menu{
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: red;
  width: 40%;
}

.menu a{
  padding: 10px;
  text-decoration: none;
  flex-grow: 1;
  text-align: center;
  color: black;
}

.menu a:hover{
  background-color: white;
  color:black;
  border-radius: 10px;
}

.imagen1 div{
  display: block;
  background-color: green;
  text-align: center;
  padding: 10px;
}

.imagen1 div img{
  width: 30%;
}
