

#container{
  margin: auto;
  width: 85%;
  display: flex;
  flex-direction: column;
}

.header{
  background-color:  #5b7989;
  border-radius: 10px 10px 0 0;
  padding: 20px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  animation: slidein 1s;
}

.titulo{
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  text-align:left;
  font-size: 30px;
  color: white;
  text-shadow: 2px 2px #02010a;
  width: 40%;
}

img{
  border: 2px solid white;
	width: 250px;
}

.imagen1{
  background-color: #82c3a6;
}

.otrasimg{
  background-color:  #d5c75f;
}

.menu{
  width: 30%;
  margin-top: 10px;
  display:flex inline;
  text-align:center;

}

.menu a{
  padding: 0px;
  margin: 0px 10px;
  font-size: 20px;
  color:white;
  text-indent: inherit;
}

.imagen1 div{
  display: block;
  text-align: center;
  padding: 10px;
  width:inherit;
}

.imagen1 div img{
  width: 700px;
  border: none;
  box-shadow: 2px 2px #02010a;
}

.otrasimg{
  display: flex;
  justify-content: space-between;
}

.imgseg{
  padding: 10px;
  text-align: center;
  width: 50%;

}

.imgseg img{
  width: 350px;
  height: 300px;
  border: 1px solid black;
  box-shadow: 2px 2px #02010a;
  transition: all 1s;
}

.segunda:hover{
  box-shadow: #82c3a6;
  border: 2px solid black;
  transform: rotate(10deg);
}

.tercera:hover{
  box-shadow: #82c3a6;
  border: 2px solid black;
  transform: translate(20px, -5px);
}



@-webkit-keyframes slidein {
	0%{
		margin-top: 150%;
	}

	60%{
		margin-top: -5%;
	}

	100%{
		margin-top: 0%;
	}
}
