.container{
    width:90%;
}

.header{
  color: white;
  background-color: black;
  height:150px;
}

.primera{
  color: white;
  background-color: pink;
}

.segunda-tercera{
  color: white;
  background-color: blue;
}

.pie{
  color: white;
  background-color: orange;
}
