

*{
  margin: 0;
  font-family: "Dancing Script", cursive;
}
body{
  background-color:black;
}

#container{
  display: flex;
  flex-direction:column;

}



.header{
  background-color:  #5b7989;
  border-radius: 10px 10px 0 0;
  padding: 20px;
  width: auto;
  display: flex;
	flex-flow: row wrap;
  align-items: baseline;
  justify-content: space-between;

  animation: slidein 1s;
}

.titulo{
  padding: 10px;
  flex-grow: 5;

  text-align:center;
  color: white;
  text-shadow: 2px 2px #02010a;

}

img{
  width: 100%;
  border: 2px solid black;
  box-shadow: 2px 2px #02010a;
}

.imagen1{
  background-color: #82c3a6;
  padding: 10px;
  text-align: center;
}

.otrasimg{
  background-color:  #d5c75f;
}

.menu{
  width: 35%;
  flex-grow: 5;

  margin-top: 10px;
  text-align: center;
}

.menu a{
  padding: 0px;
  margin: 0px 10px;
  color:white;
  width: 100%;


}

.imagen1 div{
  width: 100%;
}

.otrasimg{
  width: auto;
}

.imgseg{
  width: auto;
  padding: 10px;
}


.imgseg img{

  transition: all 1s;
}

.segunda:hover{

  transform: rotate(10deg);
}

.tercera:hover{

  transform: translate(20px, -5px);
}

footer{
  width: 100%;
  background-color:  #C6d5c5;
  border-radius: 0 0 10px 10px;
}

#contacto, #terminos, #redes, #derechos{
  width: 25%;
  height:inherit;
}

#contacto{


}

h3,p{
  padding: 5px;

}

#redes img{
  width: 40px;
  border-radius: 10px;
}

#terminos{

}

#redes{

}

#derechos{

}

@-webkit-keyframes slidein {
	0%{
		margin-top: 150%;
	}

	60%{
		margin-top: -5%;
	}

	100%{
		margin-top: 0%;
	}
}

@media (min-width: 720px) {
  #container {
	max-width: 900px;
	margin: auto;

	}

.imagen1 img{
  width:100%;
}

	.otrasimg {
	display: flex;
	flex-direction: row;
  padding: 10px;
  width:auto;
}

	.otrasimg img{

    height: 100%;
	}

	.imgseg {
		width: 50%;
    height: 250px;
	}

	footer {
		display: flex;
		flex-direction: row;
	}



	#contacto, #terminos, #redes, #derechos {
		width: 33.3%;
	}

}

@media (max-width: 420px) {
  .header{
    display: flex;
    flex-flow: column;
  }
  .titulo, .menu{
    width: 100%;
  }
  .otrasimg{
    display: flex;
    flex-flow: column;
    width: 100%;
  }
  .imgseg{
    width: 90%;
  }
  .imgseg img{
    width: 100%;
  }
  footer {
		display: flex;
		flex-direction: column;
	}
  #contacto, #terminos, #redes, #derechos{
    width: 100%;
  }
}
